.u-section-1 .u-sheet-1 {
  min-height: 1306px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.45);
  height: 1071px;
  width: 774px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1378px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-1 .u-image-1 {
    height: 996px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-1 .u-image-1 {
    height: 747px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-image-1 {
    height: 470px;
    width: 340px;
  }
}